.DS_Store
build
Desktop.ini
node_modules

_icons.sass

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml
*.TMP
*.bat
*.ini
*.db
*.mp4
*.ogv
*.webm
*.cab
*.msi
*.msm
*.msp
*.lnk
*.zip
*.7z
*.rar
*.tar
*.swp

lib-cov
$RECYCLE.BIN/
pids
logs
results
npm-debug.log
node_modules/
.DS_Store
.nodemonignore
.sass-cache/

# Editor
.idea

# bower
/.bower-cache/
/.bower-registry/

# build
.build
dist
build
