body {
  margin: 0;
  padding: 0;
}
.clc-wrp {
  margin: 0;
  padding: 25px 0;
  background-color: rgba(253, 220, 154, 0.52);
  box-sizing: border-box;
}
.clc-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 10px 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  display: flex;
  max-width: 700px;
}
.clc-wrp ul {
  list-style-type: none;
  padding: 0 32px;
  width: 100%;
}
.clc-wrp li {
  border: 1px solid transparent;
  padding: 3px 4px;
  border-radius: 5px;
}
.clc-wrp li:hover {
  /*border: 1px solid #FDDACE;*/
  background-color: rgba(253, 230, 202, 0.48);
}
.clc-wrp li:before, .clc-wrp li:after {
  content: " ";
  display: table;
  clear: both;
}
.clc-wrp li span {
  color: #666;
  font-size: 14px;
  display: block;
  float: left;
}
.clc-wrp li span:first-child {
  width: 15%;
  text-align: left;
}
.clc-wrp li span:last-child {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
  text-align: right;
}
@media (max-width: 500px) {
  .clc-wrp {
    padding: 1px 8px;
  }
  .clc-wrp ul {
    margin: 0;
    padding: 0 15px;
  }
  .clc-wrp li span {
    font-size: 13px;
  }
}
